<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205098766619-ea0n0u7bnk7hmkr5kkj4gidkero0kivo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205098766619-ea0n0u7bnk7hmkr5kkj4gidkero0kivo</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ_9P8daBONlY-XGgVgH7bQQ-Gf6uF3ys</string>
	<key>GCM_SENDER_ID</key>
	<string>205098766619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tw.Tunelyze</string>
	<key>PROJECT_ID</key>
	<string>tunelyze</string>
	<key>STORAGE_BUCKET</key>
	<string>tunelyze.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:205098766619:ios:23a992437fe003d3e803be</string>
	<key>DATABASE_URL</key>
	<string>https://tunelyze.firebaseio.com</string>
</dict>
</plist>
